<div class="headerdiv">
    <div class="floatLeft title">
        <div class="title-item">Chanakya</div></div>
    <div class="routes">
        <div class="header-item" routerLink="/home" routerLinkActive="active">Home</div>
        <div class="header-item" routerLink="/customers" routerLinkActive="active">Customers</div>
        <div class="header-item" routerLink="/orders" routerLinkActive="active">Orders</div>
        <div class="header-item" routerLink="/analytics" routerLinkActive="active">Analytics</div>
    </div>
    <div class="floatRight right-items">
            <div class="rightHeader"><h4>{{username}}</h4></div>
        <div class="rightHeader"><span class="material-symbols-outlined" > account_circle </span></div>
    </div>
</div>

<div class="container">
    <router-outlet></router-outlet>
</div>