<div class="wrapper">
    <app-confirm *ngIf="showOrderDelete" [TextToDisplay]="'Delete selected order ?'" (confirmed)="deleteOrder($event)"></app-confirm>
    <app-customer-info *ngIf="showCustomerInfo" [customerId]="customerModalInput" (toggled)="showMessage($event)" ></app-customer-info>
    <app-order-info *ngIf="showOrderInfo" [orderId]="orderModalInput" (toggled)="showMessage($event)"></app-order-info>
    <app-order-edit *ngIf="showOrderEdit" [orderId]="orderModalInput" (toggled)="showMessage($event)"></app-order-edit>
    <app-order-create *ngIf="viewOrderComp" (toggled)="showMessage($event)"></app-order-create>
    
    <div class="card"  *ngIf="!showCustomerInfo && !showOrderInfo && !showOrderEdit && !showOrderDelete && !viewOrderComp">
        <div class="mid-view">
            <div class="view-header">All Orders</div>
            <button class="ch-btn" (click)="viewOrderComp=true">Add Order</button>
            <table>
                <tr class="theader">
                    <th>Order ID</th>
                    <th>Customer Id</th>
                    <th>Ordered date</th>
                    <th>Actions</th>
                </tr>
                <tr class="trow" *ngFor="let order of AllOrders">

                    <td>{{order.Id}}</td>

                    <td class="Twoitemsinrow">{{order.Custid}} <span class="material-symbols-outlined" (click)="viewCustomerDetails(order.Custid)">info</span> </td>

                    <td>{{order.OrderDate}}</td>
                    
                    <td>
                        <span class="material-symbols-outlined" (click)="viewOrderInfopage(order.Id)"> info </span>
                        <span class="material-symbols-outlined" (click)="viewOrderEditpage(order.Id)"> edit_square </span>
                        <!-- disableicon -->
                        <span class="material-symbols-outlined" (click)="confirmOrderDelete(order.Id)"> delete </span>
                    </td>

                </tr>
            </table>
        </div>
    </div>
</div>

