.card{
    /* border: 8px solid #7d6; */
    border-radius: 8px;
    box-shadow: 3px 3px 10px #222;
    height: 80vh;
    width:93vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card > *{/*applies to both left view and right view*/
    width: fit-content;
    margin:16px;
    min-width: 40%;
    min-height: 92%;
}

.wrapper{
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 87vh;
    width:100vw;
}

.mid-view{
    border: 2px solid black;
    border-radius: 20px;
}

.view-header{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    font-weight: 700;
    color:rgb(150, 32, 150);
    margin: 2%;
    border-bottom: 2px solid #f00;
}
.Twoitemsinrow{
    display: flex;
    align-items: center;
    justify-content: center;
}