<div class="modal-wrapper">
    <div class="modal-card">
        <div class="modal-header">
            <span class="material-symbols-outlined" (click)="onClick()">arrow_back</span>
            <div class="modal-heading">
                <h3>Order Details</h3>
                <div>
                    <p [ngClass]="OrderForm.invalid?'visible':'invisible'" style="color: rgb(255, 43, 43); font-weight: 700;">Please enter required fields</p>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <form action="submit" [formGroup]="OrderForm" id="custcreate" (ngSubmit)="onFormSubmit(OrderForm)" >
                
                <label for="Id">Id<span style="color: red;">*</span>: 
                <input type="text" id="Id" [(ngModel)]="Order.Id" formControlName="Id"></label>
    
    
                <label for="Custid">Customer Id<span style="color: red;">*</span>: 
                <input type="text" id="Custid" [(ngModel)]="Order.Custid" formControlName="Custid"></label>
    
                <label for="OrderDate">Order Placed on<span style="color: red;">*</span>: 
                <input type="text"  id="OrderDate" [(ngModel)]="Order.OrderDate" formControlName="OrderDate"></label>
    
                <label for="OrderDetails">OrderDetails
                <input type="text"id="OrderDetails" [(ngModel)]="Order.Id" formControlName="OrderDetails"></label>
                
                <label for="DeliveryDate">Delivered on<span style="color: red;">*</span>: 
                <input type="text"  id="DeliveryDate" [(ngModel)]="Order.DeliveryDate" formControlName="DeliveryDate"></label>
                
                <label for="PaymentDate">Payment Date<span style="color: red;">*</span>: 
                <input type="text" *ngIf="Order.Completed" id="PaymentDate" [(ngModel)]="Order.PaymentDate" formControlName="PaymentDate"></label>
    
                <label for="PaymentType">Payment Type<span style="color: red;">*</span>: 
                <input type="text" *ngIf="Order.Completed" id="PaymentType" [(ngModel)]="Order.PaymentType" formControlName="PaymentType"></label>

                <label for="Completed">Completed<span style="color: red;">*</span>: 
                <input type="text"  id="Completed" [(ngModel)]="Order.Completed" formControlName="Completed"></label>
                
                <div class="modal-buttons">
                    <button class="ch-btn" type="submit" [disabled]="OrderForm.invalid">Submit</button>
                    <button class="ch-btn" (click)="onClick()">close</button>
                </div>
            </form>
        </div>        
    </div>
</div>
