<div class="modal-wrapper">
    <div class="modal-card">
        <div class="modal-header">
            <span class="material-symbols-outlined" (click)="onClick()">arrow_back</span>
            <div class="modal-heading">
                <h3>Customer Details</h3>
            </div>
        </div>
        <div class="modal-body" id="custinfo"*ngIf="finishLoading">
            <div>Id : <span>{{customer.id}}</span></div>
            <div>Name : <span>{{customer.name}}</span></div>
            <div>Business Type: <span>{{customer.businessType}}</span></div>
            <div>Area : <span>{{customer.area}}</span></div>
            <div>Address : <span>{{customer.address}}</span></div>
            <div>Location : <span><a [href]="customer.location" target="_blank">{{customer.location}}</a></span></div>
            <div>Contact : <span>{{customer.contact}}</span></div>
            <div>Alternate Contact : <span>{{customer.altContact}}</span></div>
            <div>Other Details : <span>{{customer.otherDetails}}</span></div>
        </div>
        <div class="modal-buttons">
            <button class="ch-btn" (click)="onClick()">close</button>
        </div>
        
    </div>
</div>
