/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --bg-color: rgb(255,0,0);
    /* table colors */
    --table_header_text:rgb(245,222,179);
    --table_header_bg:rgb(46, 46, 46);    
    --table_row_bg: rgb(11, 69, 49);
    --table_row_text:rgb(36, 255, 135);
    --clickable_default_color: rgb(41, 134, 255);
    --clickable_hover_color: rgb(255, 255, 255);
    --google_icon_hover: rgb(68, 173, 37);
    --google_icon_hover_border: rgba(193, 255, 174, 0.5);

    /* button colors */
    --btn-primary: rgb(224, 37, 52);
    --btn-primary-hover: rgb(132, 13, 23);
    --btn-text: rgb(255, 255, 133);
    --btn-text-hover: rgb(255,255,255);

    /* Background for modals */
    --modal-sidebg-color: rgb(13, 52, 35);
    --modal-box-color: rgb(255,255,133);
    --modal-contentbg-color:rgb(17, 97, 62);
}

/* table related css */
.theader{
    background-color: var(--table_header_bg);
    color:var(--table_header_text);
}
.trow{
    background-color: var(--table_row_bg);
    color:var(--table_row_text);
    text-align: center;
    justify-content: center;
    min-width: fit-content;
}
.trow td{
    padding: 5px 15px;
}
.trow td a {
    text-decoration: none;
    color:var(--clickable_default_color);
}
.trow td a:hover {
    color:var(--clickable_hover_color);
}
.theader th{
    padding: 5px 15px;
    cursor: default;
}
table{
    align-items: center;
    margin: 1%;
}
.disableicon{
    cursor: default;
    opacity: 50%;
}
.material-symbols-outlined{
    padding:1px;
    border: 6px solid rgba(135, 255, 99, 0);
    border-radius: 50%;
    font-weight: 100;
}
.material-symbols-outlined:hover{
    color:var(--google_icon_hover);
    padding:1px;
    cursor: pointer;
    border: 6px solid var(--google_icon_hover_border);
}
.disableicon:hover{
    color: inherit;
    cursor: default;
    opacity: 50%;
    border: 6px solid rgba(255,255,255, 0);
}

table .page_no_input{
    width:80px;
    border: 2px solid yellow;
    background-color: var(--table_header_bg);
    color:var(--table_header_text);
}
/* table related changes ends here */

/* Button Style common */
.ch-btn{
    font-family: monospace;
    cursor:pointer;
    background-color: var(--btn-primary);
    color: var(--btn-text);
    border: none;
    padding:7px 12px;
    margin:7px 12px;
    opacity:1;
    border-radius: 3px;
    font-size: 20px;
    font-weight: 650;

}
.ch-btn:hover{
    /* box-shadow: 4px 5px 3px black; */
    /* padding:9px 14px; */
    /* margin:5px 10px; */
    background-color: var(--btn-primary-hover);
    color: var(--btn-text-hover)
}


/* modal css */
.modal-wrapper{
    width:45vw;
    height:70vh;
    background-color: var(--modal-box-color);
    border-radius: 10px;
}
.modal-card{
    height: auto;
    min-width: 80%;
    display: block;
    margin:20px;
    background-color: blue;
    border-top-right-radius : 10px;
    border-bottom-left-radius: 10px;
}

.modal-header{
    display: flex;
    align-items: center;
    background-color: black;
    color: aliceblue;
    border-top-right-radius : 10px;
}
.modal-header > .modal-heading{
    display: inline-block;
    padding:5px;
}
.modal-body{
    background: var(--modal-contentbg-color);
    color: aqua;
    border-bottom: 10px;
}
.modal-buttons{
    width:100%;
    height:fit-content;
    display: inline-block;
}
.modal-buttons button{
    float: right;
}


/* Custom modal component css */
app-customerinfo{
    width:100%;
    height:100%;
    background-color: var(--modal-sidebg-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
app-customer-create{
    width:100%;
    height:100%;
    background-color: var(--modal-sidebg-color);
    display: flex;
    align-items: center;
    justify-content: center;
}